@font-face {
    font-family: 'Open Sans Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Banny';
    src: url('/fonts/Banny-BoldRound.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}